<h1>
  Add a new association
</h1>


<hr>

<form action="/create_association" method="post">

  <div class="form-group">
    <label for="request_id">
      Request
    </label>

    <input type="text" id="request_id" name="request_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="publication_id">
      Publication
    </label>

    <input type="text" id="publication_id" name="publication_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="similar_score">
      Similar score
    </label>

    <input type="text" id="similar_score" name="similar_score" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create association
  </button>
</form>

<hr>

<a href="/associations">
  Go back
</a>
