<!-- Validation failure messages -->
<% if @request.present? %>
  <% if @request.errors.any? %>
    <% @request.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new request
</h1>


<hr>

<form action="/create_request" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @request.user_id %>">
  </div>

  <div class="form-group">
    <label for="rtc_req_id">
      Rtc req
    </label>

    <input type="text" id="rtc_req_id" name="rtc_req_id" class="form-control" value="<%= @request.rtc_req_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create request
  </button>
</form>

<hr>

<a href="/requests">
  Go back
</a>
