<h1>
  Add a new customer
</h1>


<hr>

<form action="/create_customer" method="post">

  <div class="form-group">
    <label for="fname">
      First Name
    </label>

    <input type="text" id="fname" name="fname" class="form-control">
  </div>

  <div class="form-group">
    <label for="lname">
      Last Name
    </label>

    <input type="text" id="lname" name="lname" class="form-control">
  </div>

  <div class="form-group">
    <label for="username">
      Username
    </label>

    <input type="text" id="username" name="username" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create customer
  </button>
</form>

<hr>

<a href="/customers">
  Go back
</a>
